html{
  height: 100%;
  font-family: 'Acme', sans-serif; 
}
body{
  height:100%;
  /*Makes the infinite polka dot background*/
  background: radial-gradient(circle, grey 15%, transparent 10%),
  radial-gradient(circle, grey 15%, white 15%) 30px 30px;
  background-size:60px 60px;
}
nav{
  font-size:1.5em;
  box-shadow: 0px 0px 0px 10px black;
}
button{
  background-color: blue;
}
img { 
  height:200px;
  width: auto;
}

/*BACKGROUND*/
.gradient {
  height: 100%;
  overflow: scroll;
}

/*NAV BAR*/
.title{
  float:left;
  font-size:2.5em;
  font-family: 'Acme', sans-serif;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #000;
}
.linkStyle{
  transition: all 0.3s ease;
  margin:0 5px 0 5px;
}
.linkStyle:hover {
  color:red;
}
.login {
  float:right;
  height:100%;
}
.login img{
  height:100%;
}

/*COMPONENTS*/
.subtext{
  font-size: 0.8em;
  color:rgba(0,0,0,0.5);
}
.formDiv{
  margin-top: 30px;  
  background-color: white;
  padding: 30px 20px 50px 20px;
  border-radius: 20px;
}
.card{
  font-size: 1.4em;
  color:rgba(0,0,0,0.5);
  margin-top: 30px;
  border-radius: 20px;
  padding:20px;
}
