body{
  background: radial-gradient(circle, grey 10%, transparent 10%),
  radial-gradient(circle, grey 10%, white 10%) 50px 50px;
  background-size:100px 100px;
}
nav{
  font-size:1.5em;
}
.linkStyle{
  transition: all 0.3s ease;
  margin:0 5px 0 5px;
}
.linkStyle:hover {
  color:rgba(187, 222, 251, 0.8);
}`

.hidden {
  display: none;
}

.login {
  float:right;
  height:100%;
}
.login img{
  height:100%;
}