nav{
  font-size:1.5em;
}
.linkStyle{
  transition: all 0.3s ease;
  margin:0 5px 0 5px;
}
.linkStyle:hover {
  color:rgba(187, 222, 251, 0.8);
}


.main.list.card {
  display: block;
  width: 30%;
  height: 20%;
  float: left;
  margin: 1%;
}

.hidden {
  display: none;
}


